{% extends 'base.html.twig' %}

{% block title %}Les disponibilités du gîte{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">LE GITE</h2>
</div>
<div class="titre-tertiaire">
<h3>Les disponibilités : Gîte 4 personnes</h3>
    <p>Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
</div>
    <section class="disponibilites">

        <div id="calendar" style="display: none;">
        </div>
        <div id="loader"></div>

        <p class="legend">
            Dates en noir : indisponible <br>
            Dates en blanc : disponible
        </p>
        {% if not app.user %}
            <p>
                Pour réserver, merci de bien vouloir <a href="{{ path('app_login') }}">vous connecter</a> ou <a href="{{ path('app_register_gite') }}">vous inscire</a>
            </p>
        {% endif %}

        {% if app.user %}
            <div class="btn-reservation-gite">
                    <a href="{{ path('app_gite_reservation_create') }}">
                        Réserver
                    </a>
            </div>
        {% endif %}

    </section>
{% endblock %}

