{% extends 'base.html.twig' %}

{% block title %}Présentation de l'Ecurie!{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre-secondaire">L'ECURIE</h2>
    </div>
    <h3>Présentation</h3>
    <div class="presentation-ecuries">
        <p class="image-flottante">
            <img src="{{ asset('img/ecurie/soins2.jpg') }}" alt="soins"></p>
        <p>
            Nous vous accueillons, avec plaisir, dans un cadre exceptionnel et chaleureux proche de Nantes où vous
            découvrirez de nombreuses ballades...
        </p>
        <p>
            C'est une écurie familiale, les chevaux, tous déferrés, vivent en troupeau (maximum 8) et bénéficient de 11
            hectares de prairie. Ils ont du foin "maison" à volonté ou un équivalent foin de Crau. Possibilité de les
            nourrir en plus une fois par jour. Les aliments sont à la charge du propriétaire.
        </p>
        <p>
            Les prés sont entièrement clôturés et bordés de haies végétales, vos chevaux seront en parfaite sécurité.
            <br>
            La carrière est neuve et mesure 50m X 30m. Le rond de longe mesure 18m de diamètre. Les installations ont
            été construites par des professionnels du monde de l'équitation.
            Nous avons 2 grands boxes en cas de nécessité et nous habitons sur le site.
        </p>
        <p>
            En option : cours de chant pour débutants ou confirmés : échauffement des articulations, posture, projection
            vocale, gestion du souffle... Autant de thèmes abordés que vous retrouvez dans la pratique de l'équitation
            et qui vous aideront à perfectionner la communication avec votre cheval. Alors n'hésitez plus, il est grand
            temps de vous faire plaisir...
        </p>
        <p>
            Nous tenions tout particulièrement à remercier Savannah Legain, l'Ame d'une Créative, de nous avoir réalisés
            de si belles photos. <br>
            Vous trouverez ci-dessous son lien instagram.
        </p>
        <p>
            A très bientôt ! <br>
            Pénélope
        </p>
    </div>
    <hr>

{% endblock %}