<p>Bonjour {{ firstName }} {{ lastName }}</p>
<p>Votre compte vient d'être activé, vous pouvez dès à présent vous rendre sur la page de connexion et rentrer vos identifiants</p>
<p>Toute l'équipe du Domaine Le Petit Rocher vous souhaite une excellente visite !</p>
