<p>Bonjour {{ firstName }} {{ lastName }}</p>
<p>Nous vous confirmons le changement de votre mot de passe depuis votre espace personnel.</p>
<p>Si vous n'êtes pas à l'origine du changement de mot de passe, merci de contacter au plus l'écurie !</p>
<p>Toute l'équipe du Domaine Le Petit Rocher vous souhaite une excellente journée !</p>