<p>Bonjour {{ firstName }} {{ lastName }}</p>
<p>Nous avons bien pris en compte les modifications de vos données personnelles depuis votre espace personnel.</p>
<p>Toute l'équipe du Domaine Le Petit Rocher vous souhaite une excellente journée !</p>