<p>Bonjour {{ firstName }} {{ lastName }}</p>
<p>Votre facture pour la période du...au... est à présent disponible depuis votre espace personnel</p>
<p>Toute l'équipe du Domaine Le Petit Rocher vous souhaite une excellente journée !</p>