.main_header {
    display: flex;
    background: linear-gradient(to right,#333333, #cccccc);
    height: 250px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.sub_header {
    display: flex;
    height: 210px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.affichage-prenom {
    font-size: 1.5rem;
}

.main_header .affichage-prenom {
    padding-bottom: 160px;
    padding-right: 15px;
}

.sub_header .affichage-prenom {
    padding-bottom: 130px;
    padding-right: 15px;
}

#banniere_image {
    height: 180px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}

#citation {
    color: #ffffff;
    font-size: 1.5em;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#banniere_image img {
    width: 100%;
    height: 180px;
}

#banniere {
    height: 130px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to right,#333333, #cccccc);
    box-shadow: 0px 8px 12px #333333;
}

.titre-secondaire {
    font-family: 'refanearegular';
    letter-spacing: 3px;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation1 {
    display: flex;
    margin: 150px 5%;
    gap: 70px;
}

.presentation1 .article1 {
    width: 450px;
    height: 300px;
    background-color: #808080;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px 40px 40px 40px;
    color: white;
    font-size: 1.3em;
    text-align: justify;
    overflow: scroll;
}

.besoins-chevaux {
    font-family: 'refanearegular';
    letter-spacing: 3px;
    font-size: 1.3em;
    text-align: center;
}

.article1 img {
    width: 80%;
    height: auto;
    margin: 20px 10%;
}

.presentation1 .article2 {
    width: 450px;
    height: 300px;
    background-color: #808080;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px 40px 40px 40px;
    color: white;
    font-size: 1.3em;
    text-align: justify;
    overflow: scroll;
}

.relation-homme-cheval {
    font-family: 'refanearegular';
    letter-spacing: 3px;
    font-size: 1.3em;
    text-align: center;
}

.article2 img {
    width: 80%;
    height: auto;
    margin: 20px 10%;
}

.presentation2 {
    display: flex;
    flex-direction: row;
    height: 450px;
    gap: 80px;
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-size: 1em;
}

.carre1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #797979;
    border-radius: 8px;
    box-shadow: 0 8px 12px #333333;
    padding: 20px;
    padding-top: 0;
}

.carre2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #797979;
    border-radius: 8px;
    box-shadow: 0 8px 12px #333333;
    padding: 20px;
    padding-top: 0;
}

.carre3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #797979;
    border-radius: 8px;
    box-shadow: 0 8px 12px #333333;
    padding: 20px;
    padding-top: 0;
}

.cta {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right,#546473, #83929e);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
}

.cta:hover {
    background: linear-gradient(#43505c, #657381);
    color: white;
}

.main_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right,#333333, #cccccc);
    height: 200px;
    margin-top: 100px;
    padding: 20px;
    gap: 5px;
}

.sub_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-top: 2px solid #797979;
    height: 200px;
    margin-top: 80px;
    padding: 20px;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    #banniere_image {
        display: none;
    }

    ul  {
        margin-left: 50px;
        margin-right: 5px;
        gap: 20px;
        font-size: 1.5em;
    }

    .affichage-prenom {
        font-size: 1.5rem;
    }

    .main_header .affichage-prenom {
        padding-bottom: 120px;
    }

    .presentation1 {
        margin: 100px 0 0 0;
        flex-direction: column;
        align-items: center;
    }

    .presentation1 .article1{
        width: 90%;
        height: 600px;
        overflow: scroll;
    }

    .presentation1 .article2 {
        width: 90%;
        height: 600px;
        overflow: scroll;
    }

    .presentation2 {
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 650px;

    }

    .presentation2 img {
        width: 40%;
    }

    .carre1, .carre2, .carre3 {
        width: 70%;
    }

    .cta  {
        text-align: center;
    }

    .main_footer {
        margin-top: 600px;
    }

    .main_header {
        height: 180px;
    }

    .sub_header, .main_header {
        width: 100%;
    }

}

@media screen and (max-width: 393px) {
    .main_header {
        height: 140px;
        align-items: flex-start;
    }

    .affichage-prenom {
        font-size: 1rem;
    }

    .main_header .affichage-prenom {
        padding-bottom: 0;
        margin-top: 10px;
    }

    .presentation1 .article1{
        width: 80%;
        height: 600px;
        overflow: scroll;
    }

    .presentation1 .article2 {
        width: 80%;
        height: 600px;
        overflow: scroll;
    }

    .presentation2 {
        margin-top: 450px;
    }

    .main_footer {
        margin-top: 500px;
    }


}
