/****************************************
               FORMS
*****************************************/

.info-display-form {
    max-width: 600px;
    margin: 0 auto;
}

.info-display-form input,
.info-display-form label,
.info-display-form textarea {
    display: block;
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    ;
}

.info-display-form input,
.info-display-form textarea {
    font-family: var(--font-family-text);
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    width: 100%;
    padding: 15px;
    border: 1px solid #6b6969;
    border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid #000000;
    box-shadow: var(--shadow-presentation-secondary);
}

.info-display-form input {
    min-height: 50px;
    margin-bottom: 10px;
}

.info-display-form textarea {
    min-height: 150px;
}

.info-display-form label {
    font-family: var(--font-family-text);
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    margin-bottom: 5px;
}

button,
.btn {
    font-family: var(--font-family-text);
    font-size: clamp(16px, 2vw + 1rem, 26px);
    color: var(--black-color);
    background-color: var(--bg-button);
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
    outline: none;
    background-color: var(--bg-button-hover);
    box-shadow: 0 8px 12px #333333;
   
}

.button-gpe {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

a.btn {
    display: block;
    text-align: center;
    font-size: clamp(16px, 2vw + 1rem, 26px);
}

.btn-annuler {
    order: 1;
}

.btn-modifier {
    order: 2;
}

/****************************************
               CONTACT-FORM
*****************************************/

.section-contact h3 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: black;
    font-size: 1em;
    gap: 20px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
}

.contact-form-nom-email {
    display: flex;
    gap: 20px;
}

.contact-form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    font-family: var(--font-family-text);
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #aaaaaa;
    min-height: 50px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.btn-contact-env {
    background-color: #aaaaaa;
}

.contact-form textarea {
    margin-bottom: 30px;
    min-height: 150px;
}

.contact-form button {
    padding: 10px;
}

.flash-success {
    width: 350px;
    padding: 20px;
    color: black;
    font-size: 1.4em;
    margin: 40px auto 0 auto;
    border-radius: 5px;
    background-color: mediumseagreen;
    text-align: center;
}

/****************************************
               LOGIN-FORM
*****************************************/
.section-connexion {
    padding: 0 10px;
}
.section-connexion h3 {
    margin-bottom: 40px;
}

.login-form label,
.login-form input {
    font-size: clamp(14px, 1.2vw + 10px, 22px);
}


.form-check input,
.form-check label {
    display: inline;
}

.form-check input {
    width: 25px;
    min-height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-connexion {
    width: 100%;
}

.mdp-oublie {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.mdp-oublie a {
    padding: 10px;
    font-size: clamp(14px, 1.2vw + 10px, 22px);
}

.mdp-oublie button {
    padding: 10px;
    font-size: 1.1em;
}

.mdp-oublie p {
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    margin: 20px 0 10px 0;
}

.btn-inscription-groupe a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.titre_tertiaire p {
    font-size: var(--fs-20);
}

/****************************************
            REGISTRATION-FORM
*****************************************/
.registration-form {
    padding: 0 10px;
}
.registration-form li {
    font-size: var(--fs-18);
    color: red;
    text-align: left;
    list-style: none;
}

.registration-form .input-group {
    position: relative;
}

.registration-form .input-group .alert {
    display: none;
    width: 80%;
    position: absolute;
    top: 100%;
    left: 20%;
    font-size: var(--fs-20);
    padding: 10px;
    background: white;
    border: 1px grey solid;
    border-radius: 8px;
    z-index: 10;
}

.registration-form label {
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    display: block;
    position: relative;
}
.registration-form input {
    font-size: clamp(14px, 1.2vw + 10px, 22px);
}

.registration-form input,
.registration-form button {
    outline: none !important;
}

.registration-form input::placeholder {
    font-size: 14px;
}

.registration-form button:disabled {
    background-color: #c5c4c4;
    cursor: not-allowed;
}

.registration-form .icon-input-container {
    position: relative;
}

.registration-form .icone-verif {
    width: 30px;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}
.registration-form .icone-verif-horse {
    width: 30px;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}

.registration-form .error-msg {
    margin-top: 7px;
    color: #f75252;
    font-weight: 400;
    display: none;
}
.registration-form .error-msg-horse {
    margin-top: 7px;
    color: #f75252;
    font-weight: 400;
    display: none;
}

.registration-form .pswd-info {
    margin-top: 8px;
    color: #a9a9a9;
    font-weight: 400;
    display: block;
}

.registration-form .error {
    color: rgb(171, 6, 6);
    font-size: 18px;
    font-weight: 600;
}

.registration-form .red-border {
    border-color: red;
}

.registration-form .valid {
    color: green;
    font-weight: 600;
}

.registration-form .green-border {
    border-color: green;
}

.registration-form .input-group:focus-within .alert {
    display: block;
}

/****************************************
               FILTERS
*****************************************/

.filter-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.user-filter .filter-form {
    margin-top: 40px;
}

.filter-form .form-control {
    padding: 10px;
}

.categories1-wrapper,
.categories2-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.categories1-wrapper input {
    font-family: var(--font-family-text);
    font-size: var(--fs-22-th-label-nav);
    min-height: 60px;
    width: 280px;
    padding: 10px;
}

.categories2-wrapper label,
.categories1-wrapper label {
    font-family: var(--font-family-text);
    font-size: var(--fs-22-th-label-nav);
    padding: 5px;
    margin-right: 10px;
}

.categories2-wrapper .checkbox-group {
    align-content: flex-start;
}

.btn-filtre {
    width: 160px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.admin-user-filtre-affichage {
    width: 80%;
    margin: 0 auto;
}

.btn-annuler-filtre {
    width: 180px;
    height: 60px;
}

/****************************************
            RESERVATION-FORM
*****************************************/

.sous-titre {
    text-align: center;
    font-size: var(--fs-22-th-label-nav);
    margin-bottom: 30px;
}

.resa-gpe ul {
    padding: 0;
}

.resa-gpe li {
    font-size: 1em;
    color: red;
    text-align: left;
    list-style: none;
}

/****************************************
            CREATE EVENT-FORM
*****************************************/

.create-event-form select,
.edit-event-form select,
.resa-gpe select,
.admin-mdf-resa select {
    font-family: var(--font-family-text);
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 1.3em;
    padding: 10px;
}

#create_event_form_startTime {
    display: flex;
}

.edit-event-form ul {
    padding: 0;
}

.edit-event-form li {
    font-size: var(--fs-16);
    color: red;
    list-style: none;
}

.create-event-form ul {
    font-size: 1em;
    color: red;
    padding: 0;
    list-style: none;
}

/****************************************
          ADMIN-EDIT-FORM USERS
*****************************************/

.modifier-utilisateur-form {
    margin-top: 50px;
}

#admin_user_form_contractFileName {
    padding: 8px 0;
}

#registration_admin_form_roles {
    display: flex;
    gap: 10px;
    font-size: 1em;
}

.admin-checkbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#admin_user_form_roles {
    display: flex;
    align-items: center;
    gap: 15px;
}

.is-valid-admin-checkbox label,
#admin_user_form_isValid {
    width: 40px;
    margin: 10px 0 0 40px;
}

/****************************************
               MAIL-RESET
*****************************************/

.mail-reset input {
    font-family: var(--font-family-text);
    font-size: var(--fs-22-th-label-nav);
    height: 50px;
    padding: 10px;
    margin-top: 20px;
}

.reset-form p {
    font-size: 1.4em;
    margin-top: 30px;
}

.reset-form label {
    margin-right: 15px;
}

.reset-message p,
.account-delete-form p {
    font-size: 1.4em;
    margin: 40px 20px;
}

.password-reset-form .btn,
.reset-form .btn {
    margin-top: 20px;
}

/****************************************
              MEDIA-QUERIES
*****************************************/

@media screen and (max-width: 1300px) {

    .categories1-wrapper,
    .categories2-wrapper {
        display: block;
        text-align: center;
    }

    .categories1-wrapper label,
    .categories1-wrapper input {
        display: block;
        margin: 10px auto 0 auto;
    }

    .categories1-wrapper .btn-filtre,
    .categories1-wrapper .btn-annuler-filtre {
        margin: 30px auto 0 auto;
    }

    .categories1-wrapper input {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .section-contact {
        margin: 0 10px;
    }

    .create-event-form input,
    .create-event-form textarea,
    .edit-event-form input,
    .edit-event-form textarea {
        width: 650px;
    }

    .create-event-form .btn-plannifier,
    .create-event-form .btn-create-event-form-annuler,
    .tableau-liste-infos .btn-informations-modifier,
    .tableau-liste-infos .btn-mdp-modifier {
        width: 650px;
    }

    .contact-form-nom-email {
        display: block;
    }
}

