@font-face {
    font-family: 'Refanea';
    src: url('../font/refanea/refanea_2-webfont.woff2') format('woff2'),
    url('../font/refanea/refanea_2-webfont.woff') format('woff'),
    url('../font/refanea/refanea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family-text);
    line-height: 1.6;
    background-image: url("../../public/images/fond_image_site.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#bloc_page {
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: var(--shadow-main);
}
h3 {
    font-size: clamp(16px, 2.1vw + 10px, 30px);
    text-align: center;
}
h4 {
    font-family: var(--font-family-text);
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/****************************************
               HEADER
*****************************************/

#header_container {
    width: 100%;
    padding: 10px 5px 0 0;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}
.header_logo {
    width: 30%;
}
.titre_site {
    width: 70%;
}
header h1 {
    font-family: var(--font-family-main-title);
    font-size: 4vw;
    letter-spacing: 3px;
    font-weight: 800;
}
.affichage_prenom {
    font-size: 2.3vw;
}
#header_container .affichage_prenom {
    position: absolute;
    top: 30px;
    right: 40px;
}

/****************************************
               NAV
*****************************************/

nav  {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 25px;
}
nav ul a {
    color: black;
    text-decoration: none;
    font-size: var(--fs-30-third-title);
    font-weight: 500;
}
.nav_link {
    position: relative;
    padding: 5px;
    outline: none;
}
.nav_link::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    background: #000000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}
.nav_link:hover::before {
    transform: scale(1);
}
.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #000000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.nav_link:hover::after {
    transform: scale(1);
}
nav ul .nav_link:focus {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    outline: none;
}
.submenu {
    display: none;
    box-shadow: 0px 8px 12px #333333;
    background-color: #555555;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    width: auto;
    z-index: 1000;
    min-width: 100px;
    margin-top: 10px;
}
.submenu li {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 10px 0;
}
.submenu a {
    display: block;
    border-bottom: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.submenu a:hover,
.submenu a:focus {
    border-bottom: none;
    color: white;
    zoom: 150%;
    outline: none;
}
nav ul li {
    text-align: left;
}
.dropdown a {
    text-align: center;
}
nav ul li:hover .submenu,
nav ul li:focus-within .submenu {
    display: block;
}
.nav-toggler {
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: none;
}

/****************************************
               BANNIERE
*****************************************/

#banniere_main,
#banniere {
    max-width: 1300px;
    border-radius: 5px;
    position: relative;
    height: 180px;
    box-shadow: 0 -5px 8px -4px rgba(28, 26, 25, 0.5);
}
#banniere_main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#citation {
    color: white;
    font-size: var(--fs-14);
    font-style: italic;
    position: absolute;
    inset: auto 50px 15px auto;
    /* bottom: 15px;
    right: 50px; */
}
#banniere {
    background: var(--bg-gradient-header-footer);
    display: flex;
}
.titre_secondaire {
    font-family: var(--font-family-main-title);
    letter-spacing: 5px;
    font-size: 3.5vw;
    align-content: center;
    margin: 0 auto;
}

/****************************************
               MAIN
*****************************************/

.presentations_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
.article_presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
}
.article_container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    background: var(--bg-dark-grey);
    box-shadow:
            1.4px 2.2px 9.4px -78px rgba(0, 0, 0, 0.09),
            3.3px 5.2px 22.6px -78px rgba(0, 0, 0, 0.152),
            5.9px 9.4px 42.6px -78px rgba(0, 0, 0, 0.215),
            10.2px 16.1px 75.9px -78px rgba(0, 0, 0, 0.306),
            18.2px 28.8px 142px -78px rgba(0, 0, 0, 0.437),
            41px 65px 340px -78px rgba(0, 0, 0, 0.61);
    overflow-y: scroll;
    border-radius: var(--border-radius-btn);
}
.article_container:focus {
    outline: none;
    border: 3px solid black;
    box-shadow: 5px 5px 15px 5px #000000;
}
.article {
    width: 80%;
    margin: 60px auto;
    background: #f1f1f1;
    border-radius: var(--border-radius-cards);
    color: var(--black-color);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}
.article1 {
    justify-self: flex-start;
}
.article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius-cards);
}
.article_content {
    padding: 10px;
    line-height: 1.6;
}
.article p {
    font-size: clamp(14px, 1vw + 8px, 20px);

}
.article h2 {
    text-align: center;
    font-size: clamp(16px, 1.3vw + 10px, 22px);
    margin-bottom: 10px;
}
.article h3 {
    margin: 10px 0;
    font-size: clamp(14px, 1.1vw + 10px, 20px);
    
    text-align: left;
}
.cards_presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.card {
    width: 240px;
    border: 1px solid rgba(14, 14, 14, 0.8);
    border-radius: 5px;
    box-shadow: 0 8px 12px #333333;
    text-align: center;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_content {
    padding: 15px;
}
.card_content h2 {
    font-size: 1.3rem;
}
.card_content p {
    margin: 10px 0;
}
.card_content ul {
    margin-top: 10px;
    list-style-type: none;
    margin-bottom: 10px;
}
.card_content li {
    margin: 5px 0;
}
.link {
    display: block;
    background: var(--bg-button-cards);
    color: var(--light-color);
    text-decoration: none;
    font-size: var(--fs-18);
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
}
.link:hover,
.link:focus {
    outline: none;
    background: var(--bg-button-cards-hover);
}
.titre_tertiaire {
    font: var(--font-family-text);
    font-weight: 600;
    font-size: clamp(16px, 2.1vw + 10px, 30px);
    text-align: center;
    margin: 20px 0;
}
.titre_tertiaire p {
    font-size: var(--fs-20);
    text-align: center;
}

/****************************************
              FOOTER
*****************************************/

footer {
    width: 100%;
    height: 250px;
    background: var(--bg-gradient-header-footer);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
    margin-top: 100px;
}
.adresse-lpr {
    position: relative;
    justify-content: center;
}
.liens-divers {
    display: flex;
    gap: 10px;
    justify-content: center;
}
footer span {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2em;
}

.mentions-legales {
    margin: 20px 20px;
}
.mentions-legales p {
    font-size: clamp(14px, 1.2vw + 10px, 22px);

}

.mentions-legales h3 {
    text-align: left;
}




/****************************************
         ADMINISTRATION
*****************************************/

.infos-container a, .infos-container p {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: #aaaaaa;
    text-align: center;
    align-content: center;
    font-size: clamp(14px, 1.2vw + 10px, 22px);
    font-weight: 500;
}
.infos-container a:hover,
.infos-container a:focus {
    outline: none;
    background-color: #969696;
    text-decoration: underline;
    box-shadow: 0 8px 12px #333333;
}

/****************************************
               MEDIA QUERIES
*****************************************/

/* taille max du titre au delà de 1300px */
@media(min-width: 1300px) {
    header h1 {
        font-size: 52px;
    }
    .affichage_prenom {
        font-size: 28px;
    }
    .titre_secondaire {
        font-size: 42px;
    }
}

/****************************************
               TABLETTE
*****************************************/

@media screen and (max-width: 1050px) {
    nav ul a {
        color: black;
        text-decoration: none;
        font-size: var(--fs-26);
        font-weight: 500;
    }
}
@media screen and (max-width: 900px) {
    .header_logo img {
        width: 140px;
        height: 140px;
    }
    #header_container .affichage_prenom {
        top: 110px;
    }
    #banniere_main {
        display: none;
    }
    #header_container {
        border-bottom: 1px solid #333333;
        box-shadow: var(--shadow-main);
    }
    .nav-toggler {
        display: flex;
    }
    .nav-accueil {
        position: fixed;
        top: 0;
        right: 0;
        width: 40vw;
        height: 100vh;
        background-color: white;
        background-image: url("../../public/images/fond_image_site.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: var(--hr);
        box-shadow: -5px 0 10px -5px #333333 ;
        /* pour la cacher */
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1.0);
        z-index: 1;
    }
    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }
    .l1 {
        transform: translateY(-10px);
    }
    .l3 {
        transform: translateY(10px);
    }
    .l4 {
        transform: translateY(20px);
    }
    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }
    .nav-toggler.active .l2 {
        opacity: 0;
    }
    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }
    .nav-toggler.active .l4 {
        opacity: 0;
    }
    .nav-toggler,
    .nav-toggler:hover,
    .nav-toggler:focus,
    .nav-toggler.active,
    .nav-toggler.active:hover,
    .nav-toggler.active:focus {
        box-shadow: none !important;
        background-color: transparent !important;
    }
    
    .nav-accueil.active {
        transform: translateX(0);
    }
    nav {
        padding-bottom: 0;
    }
    nav a {
        font-family: Quicksand, sans-serif;
        color: var(--light-color);
        font-size: 20px;
        margin: 10px 0;
        text-decoration: none;
    }
    .nav-accueil ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .nav-accueil li {
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .submenu li {
        margin-bottom: 0;
        padding: 5px 10px;
    }
    #banniere {
        height: 150px;
    }
}
@media screen and (max-width: 768px) {
    header h1, .titre_secondaire {
        letter-spacing: 2px;
    }
    .affichage-prenom {
        font-size: 1.5rem;
    }
    button, .button-gpe a {
        font-size: clamp(14px, 1.2vw + 10px, 22px);
    }
    #header_container .affichage-prenom {
        top: 40px;
    }
    nav ul a {
        font-size: var(--fs-26);
    }
    #banniere {
        height: 110px;
    }
}
@media screen and (max-width: 600px) {
    .header_logo img {
        width: 110px;
        height: 110px;
    }
    header h1 {
        letter-spacing: 1px;
    }
    #header_container .affichage_prenom {
        top: 90px;
    }
    .affichage_prenom {
        font-size: 15px;
    }
    .article_container {
        width: 100%;
        height: 300px;
    }
    .article img {
        height: 200px;
    }
    footer {
        height: 150px;
    }
    nav ul a {
        font-size: var(--fs-24-button);
    }
}

/****************************************
               SMARTPHONE
*****************************************/

@media screen and (max-width: 480px) {
    .header_logo {
        width: 30%;
    }
    .header_logo img {
        width: 90px;
        height: 90px;
    }
    .titre_site {
        width: 70%;
    }
    .header_container {
        width: 90%;
    }
    header h1 {
        letter-spacing: 0px;
    }
    button, .button-gpe a {
        font-size: clamp(16px, 2vw + 1rem, 26px);
    }
    .article_container {
        width: 100%;
        height: 200px;
        background: none;
    }
    .article{
        width: 100%;
        margin: 0;
    }
    .header-burger svg {
        margin-top: 80px;
        margin-right: 25px;
    }
    .affichage_prenom {
        display: none;
    }
    nav ul a {
        font-size: 16px;
    }
    .submenu a {
        display: block;
        border-bottom: none;
        color: #ffffff;
        font-size: 14px;
    }
    .submenu a:hover,
    .submenu a:focus {
        zoom: 100%;
    }
    #banniere {
        height: 90px;
    }
}




