.presentation-gite {
    margin: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 50px;
}

.image-flottante {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

.presentation-gite p {
    font-size: 1.4em;
}

.disponibilites .legend {
    font-size: 1.2em;
    font-style: italic;
}

.disponibilites p {
    text-align: center;
    font-size: 1.5em;
}

.disponibilites a {
    color: grey;
}

.photos-gite {
    margin: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 50px;
}

.photos-gite h2 {
    font-size: 3em;
    text-align: center;
}

.grid-photos-gite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 15px;
    margin-top: 50px;
}

.grid-photos-gite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lien-conteneur-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}