.presentation-gite {
    margin: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 50px;
}

.image-flottante {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

.presentation-gite p {
    font-size: 1.4em;
    text-align: justify;
}

.disponibilites .legend {
    font-size: 1.2em;
    font-style: italic;
}

.disponibilites p {
    text-align: center;
    font-size: 1.5em;
}

.disponibilites a {
    color: grey;
}

.disponibilites a:hover {
    color: purple;
}