/****************************************
         ACCUEIL-GITE
*****************************************/

.presentation-gite {
    margin: 40px;
    padding: 20px;
    font-size: var(--fs-22-th-label-nav);
}
.image-flottante {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}
.disponibilites .legend {
    font-size: 1.2em;
    font-style: italic;
}
.disponibilites p {
    text-align: center;
    font-size: var(--fs-22-th-label-nav);
    margin-top: 20px;
}
.disponibilites a {
    font-size: var(--fs-24-button);
}
.disponibilites a:focus,
.disponibilites a:hover,
.mdp-oublie > a:focus,
.mdp-oublie > a:hover {
    outline: none;
    text-decoration: underline;
    zoom: 1.2;
}
.photos-gite h3 {
margin: 40px 0;
}
.grid-photos-gite {
    grid-template-rows: 250px 250px 250px;
}
.button-reserver {
    width: 600px;
    margin: 30px auto 0 auto;
}

/****************************************
               MEDIA QUERIES
*****************************************/

@media screen and (max-width: 768px) {
    .presentation-gite{
        margin: 20px;
    }
}
@media screen and (max-width: 480px) {
    .presentation-gite{
        margin: 15px;
    }
    .presentation-gite img {
        width: 240px;
        height: auto;
    }

}

