/****************************************
         ACCUEIL-ECURIE
*****************************************/

.presentation-ecuries {
    margin: 0 40px 20px 40px;
    padding: 20px;
    font-size: clamp(14px, 1.2vw + 10px, 22px);
}
.presentation-ecuries p {
    margin-bottom: 20px;
}
.ecurie-home, .dashboard {
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto 120px auto;
    justify-content: space-evenly;
    gap: 20px;
}
.presentation-photos {
    padding: 0 50px;
}
.image-flottante {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}
hr {
    border: var(--hr);
    width: 300px;
    margin: 0 auto;
}
.presentation-photos h3 {
    margin: 40px 0;
}

.presentation-photos h4 {
    font-size: var(--fs-26);
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0 15px;
}

.lien-instagram-ldc {
    position: relative;
    align-content: center;
}
.lien-hover {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: grey;
    display: none;
}
.lien-instagram-ldc:hover .lien-hover {
    display: flex;
}
.gallery {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}
.gallery li {
    list-style: none;
}
.gallery li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-photos-lame-dune-creative {
    padding-bottom: 50px;
    padding-top: 20px;
}
.gallery li  {
    position: relative;
    overflow: hidden;
}
.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
}
.lien-conteneur-photo:hover .photo-hover {
    opacity: 1;
}

/****************************************
               MEDIA QUERIES
*****************************************/

/* taille max du titre au delà de 1300px */
@media(min-width: 1145px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .mes-infos, .mon-contrat, .mes-events {
        width: 30%;
    }
    .presentation-photos {
        padding: 0;
    }
    .presentation-ecuries {
        margin: 20px;
    }
}
@media screen and (max-width: 600px) {
    .presentation-photos h1 {
        font-size: 2em;
    }
    .presentation-photos h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .presentation-ecuries {
        margin: 15px;
        padding: 0;
    }
    .presentation-ecuries .image-flottante {
        width: 100%;
    }
    .presentation-ecuries .image-flottante img {
        display: block;
        width: 100%;
        object-fit: cover;
       
    }
}

