nav  {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 20px;
}

ul {
    list-style-type: none;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.7em;
    display: flex;
    gap: 35px;
}

ul a {
    color: black;
    text-decoration: none;
}
.nav-accueil a:hover {
   color: #333333;
   text-shadow: -1px -1px #333333, 0 -1px #333333;
}

.nav-accueil > ul li:hover .submenu {
    display: block;
}

.nav-accueil ul {
    margin-bottom: 15px;
}

.submenu li {
    float: none;
    width: 100%;
    text-align: center;
}

.submenu a {
    border-bottom: none;
    color: white;
    font-size: 1.2rem;
}

.submenu a:hover {
    border-bottom: none;
    color: #333333;
    text-shadow: -1px -1px #333333, 0 -1px #333333;
}

.submenu {
    display: none;
    box-shadow: 0px 8px 12px #333333;
    background-color: #808080;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 4px;
    position: absolute;
    width: 150%;
    z-index: 1000;
}

nav ul li {

    text-align: left;
    position: relative;
}

.dropdown {
    border-radius: 50px;
}

.dropdown a {
    text-align: left;
}

.header-burger {
    display: none;
}

.header-burger svg {
    stroke: black;
    width: 40px;
    height: 40px;
    margin-top: 80px;
    margin-right: 25px;
}

.header-nav-close {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-burger {
        display: block;
        cursor: pointer;
    }
    .nav-accueil {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: #666666;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 1;
    }
    .nav-accueil.open {
        display: flex;
        animation: transformMenu 300ms ease-in-out forwards;
    }
    @keyframes transformMenu {
        0% {
            transform: translateX(100%);
        }
        100%{
            transform: initial;
        }
    }
    .nav-accueil ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: flex-start;
    }
    .nav-accueil li {
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .header-nav-close {
        display: block;
        cursor: pointer;
    }
    .header-nav-close svg {
        stroke: black;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .overlay-menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        display: none;
    }
    .overlay-menu-mobile.open {
        display: block;
    }
}

@media screen and (max-width: 393px) {
    .header-burger svg {
        margin-top: 80px;
        margin-right: 25px;
    }

}



