{% extends 'base.html.twig' %}

{% block title %}Domaine Le Petit Rocher - Contact{% endblock %}

{% block body %}


    <div id="banniere">
    <h2 class="titre-secondaire">CONTACT</h2>
    </div>

   <section class="section-contact">
        <h3>Parlons de vos envies...</h3>

          {{ form_start(contactForm) }}
          <div class="row">
              <div class="col">{{ form_row(contactForm.fullName) }}</div>
              <div class="col">{{ form_row(contactForm.email) }}</div>
          </div>
            {{ form_rest(contactForm) }}
          <button>Envoyer</button>



    </section>



{% endblock %}
