{% extends 'base.html.twig' %}

{% block title %}Présentation de l'Ecurie!{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre-secondaire">L'ECURIE</h2>
    </div>
    <h3>Mon Compte</h3>
    <section class="ecurie-home">
        <div class="mes-infos">
            <a href="{{ path('ecurie_mes_informations') }}">Mes Informations</a>
        </div>
        <div class="mon-contrat">
            <a href="#">Mon Contrat</a>
        </div>
        <div class="mes-events">
            <a href="{{ path('ecurieevenement_liste') }}">Mes Evènements</a>
        </div>
    </section>
{% endblock %}
