{% extends 'base.html.twig' %}

{% block title %}Etablir une facture{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">ETABLIR UNE FACTURE </h2>
</div>

    <p>Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>

<section class="create-invoice">
    {{ form(invoiceForm) }}



</section>
{% endblock %}