<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="{{ path('main_home') }}"><li>Accueil</li></a>
            <a href="{{ path('ecurie_presentation') }}"><li>L'écurie</li></a>
            <a href="{{ path('gite_presentation') }}"><li>Le gîte</li></a>
            <a href="{{ path('contact_index') }}"><li>Contact</li></a>
        </ul>
    </div>
</nav>