<footer>
    <div class="adresse-lpr">
            <p>
                <span>Domaine Le Petit Rocher</span><br>
                Pénélope Bourg<br>
                210, Le Pré Barré / 44850 LIGNÉ<br>
                06-65-34-77-82
            </p>
            <p><a href="{{ path('legal_informations') }}">Mentions Légales</a></p>
        </div>
</footer>