{#condition pour modifier le style et l'image du header selon la page sur laquelle nous nous trouvons#}
<header>

    <div id="header_container">
        <div class="header_logo">
            <img src="{{ asset('images/logo/logo_solo_copie2.png') }}" alt="Logo page d'accueil">
        </div>
         <h1 class="titre_site">DOMAINE LE PETIT ROCHER</h1>
        {% if app.user %}
            <div class="affichage_prenom">
                Bonjour {{ app.user.customer.firstName }} !
            </div>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include'inc/admin_nav.html.twig' %}
    {% else %}
        {% include'inc/nav.html.twig' %}
    {% endif %}

</header>

